.header {
  display: flex;
  height: 50px;
}
.header--center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.header__logo img {
  width: 10em;
}
.header__back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.header__button {
  color: black;
}

.footer {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
}

.block {
  display: flex;
  flex-direction: column;
}
.block__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEDED;
  border-top: solid #E1E1E1;
}
.block__location p {
  font-size: 14px;
  font-weight: 500;
}
.block__location .fa-location-dot {
  padding-right: 5px;
}
.block__explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 14em;
  background-color: #F7F7F7;
}
.block__explorer h1 {
  font-weight: 700;
  width: 10em;
  margin-bottom: 5px;
}
.block__explorer p {
  margin-top: 0;
  font-size: 15px;
  font-weight: 400;
  width: 20em;
}
.block__explorer__button {
  border: 2px #9356DC;
  box-shadow: 0px 4px 8px 0px #9356DC;
  border-radius: 25px;
  font-size: 13px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding-left: 20px;
  padding-right: 15px;
  margin-top: 5px;
  height: 43px;
}
.block__explorer__button:hover {
  box-shadow: 0px 4px 8px 0px #803ADD;
  background: linear-gradient(#FE82DC, #975DDD);
}
.block__step {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block__step ul {
  list-style-type: none;
  padding: 0;
}
.block__step ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: #F7F7F7;
  border: 2px #F7F7F7;
  box-shadow: 0px 4px 8px 0px #E1E1E1;
  border-radius: 15px;
  width: 21em;
  height: 55px;
  font-size: 14px;
  font-weight: 500;
}
.block__step ul li i {
  padding-right: 20px;
  color: grey;
}
.block__step ul li:hover {
  background-color: #EDEDED;
}
.block__step ul li:hover i {
  color: #9356DC;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  margin-top: 20px;
  padding-top: 30px;
  height: 67em;
}
.container__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container__cards__card {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container__cards__card img {
  width: 100%;
  height: 155px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.container__cards__card__txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container__cards__card__txt__title {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.container__cards__card__txt__title h3 {
  margin: 0;
  font-size: 17px;
}
.container__cards__card__txt__title p {
  margin: 0;
}
.container__cards__card__txt__icone {
  margin-right: 20px;
}
.container__cards__card__txt__icone:hover {
  color: #9356DC;
}

/*# sourceMappingURL=style.css.map */
