body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}
.header--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.header__logo img {
  width: 10em;
}
.header__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}
.header__button {
  color: black;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EDEDED;
  border-top: solid #E1E1E1;
}
.block__location p {
  font-size: 14px;
  font-weight: 500;
}
.block__location .fa-location-dot {
  padding-right: 5px;
}
.block__explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 14em;
  background-color: #F7F7F7;
}
.block__explorer h1 {
  font-weight: 700;
  width: 10em;
  margin-bottom: 5px;
}
.block__explorer p {
  margin-top: 0;
  font-size: 15px;
  font-weight: 400;
  width: 20em;
}
.block__explorer__button {
  border: 2px #9356DC;
  -webkit-box-shadow: 1px 1px 5px 1px #9356DC;
          box-shadow: 1px 1px 5px 1px #9356DC;
  border-radius: 25px;
  font-size: 13px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: -o-linear-gradient(#FF79DA, #9356DC);
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding-left: 20px;
  padding-right: 15px;
  margin-top: 5px;
  height: 43px;
}
.block__explorer__button:hover {
  -webkit-box-shadow: 1px 1px 5px 1px #803ADD;
          box-shadow: 1px 1px 5px 1px #803ADD;
  background: -webkit-gradient(linear, left top, left bottom, from(#FE82DC), to(#975DDD));
  background: -o-linear-gradient(#FE82DC, #975DDD);
  background: linear-gradient(#FE82DC, #975DDD);
}
.block__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block__step ul {
  list-style-type: none;
  padding: 0;
}
.block__step ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background-color: #F7F7F7;
  border: 2px #F7F7F7;
  -webkit-box-shadow: 1px 1px 5px 1px #E1E1E1;
          box-shadow: 1px 1px 5px 1px #E1E1E1;
  border-radius: 10px;
  width: 21em;
  height: 50px;
  font-size: 13px;
  font-weight: 700;
}
.block__step ul li i {
  padding-right: 15px;
}

/*# sourceMappingURL=style.css.map */
