@import "../utils/variables";

@mixin center_elt{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin column{
    display: flex;
    flex-direction: column;
}

@mixin titre_h3{
    font-size: 15px;
    font-weight: 400;
}

@mixin button{
    border: 2px $color-v;
    box-shadow: $shadow $color-v;
    border-radius: 25px;
    font-size: 13px;
    background: linear-gradient($color-p, $color-v);
    color: white;
    padding-left: 20px;
    padding-right: 15px;
}

@mixin button_hover{
    box-shadow: $shadow #803ADD;
    background: linear-gradient(#FE82DC, #975DDD);
}

@mixin heart{
    color: black;
    font-size: 1.5rem;
}

@mixin filled-heart{
    cursor: pointer;
    font-weight: 700;
    background: linear-gradient($color-p, #E965DB, #CF69DC, #B65AE1, $color-v);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: heart-full 2s;  
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}